<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="log" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%15.15t] %cyan(%-40.40logger{39}) : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-CONTROLLERS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/controllers.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %-40.40logger{39} : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/controllers.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE-SERVICES" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/services.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %-40.40logger{39} : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/services.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE-REPOSITORIES" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/repositories.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %-40.40logger{39} : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/repositories.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="dev">
        <logger name="io.hohichh.marketplace.user.controller" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-CONTROLLERS" />
        </logger>
        <logger name="io.hohichh.marketplace.user.service" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-SERVICES" />
        </logger>
        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-REPOSITORIES" />
        </logger>
        <logger name="org.hibernate.type.descriptor.sql" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-REPOSITORIES" />
        </logger>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="prod, docker">
        <logger name="io.hohichh.marketplace.user.controller" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-CONTROLLERS" />
        </logger>
        <logger name="io.hohichh.marketplace.user.service" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-SERVICES" />
        </logger>
        <logger name="org.hibernate.SQL" level="ERROR" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-REPOSITORIES" />
        </logger>

        <root level="WARN">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-SERVICES" />
        </root>
    </springProfile>

    <springProfile name="test">
        <logger name="io.hohichh.marketplace.user" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
        <logger name="org.hibernate.SQL" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <root level="WARN">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>